<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectycube.flutter.connectycube_flutter_call_kit">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application>
        <receiver android:name=".EventReceiver" />
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity="com.connectycube.flutter.connectycube_flutter_call_kit.INCOMING_CALL_AFFINITY"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:turnScreenOn="true" />
        <service
            android:name=".background_isolates.ConnectycubeFlutterBgPerformingService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".ConnectycubeFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
