<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectycube.flutter.connectycube_flutter_call_kit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <receiver android:name=".EventReceiver" />
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:inheritShowWhenLocked="true"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity="com.connectycube.flutter.connectycube_flutter_call_kit.INCOMING_CALL_AFFINITY"
            android:theme="@style/CallkitIncomingTheme"
            android:turnScreenOn="true" />

        <activity
            android:name=".NotificationTrampolineActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <service
            android:name=".background_isolates.ConnectycubeFlutterBgPerformingService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".ConnectycubeFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ConnectycubeFCMReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
