<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectycube.flutter.connectycube_flutter_call_kit">

    <application>
        <receiver android:name=".EventReceiver" />
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity="com.connectycube.flutter.connectycube_flutter_call_kit.INCOMING_CALL_AFFINITY"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:turnScreenOn="true" />
    </application>
</manifest>
